a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.text-green {
    color: #495e57;
}

.text-yellow {
    color: #f4ce14;
}

.text-salmon {
    color: #ee9972;
}

.text-gray {
    color: #edefee;
}

.bg-green {
    background-color: #495e57 !important;
}

.bg-yellow {
    background-color: #f4ce14 !important;
}

.bg-salmon {
    background-color: #ee9972 !important;
}

.bg-gray {
    background-color: #edefee !important;
}

.form-check-input {
    border-width: 2px !important; /* border thickness */
    border-color: #0d6efd !important;
}
